/* CSS de elementos básicos */
body{
    background-color: #E5E5E5 !important;
    color: #000 !important;
}

::selection {
    color: #fff !important; 
    background: #64932d !important;
}

h1, h2, h3, h4, h5, h6, h7{
    font-weight: 400 !important;
    text-transform: uppercase !important;
    text-align: center !important;
    margin-bottom: 20px !important;
}

a{
    color: #00417A !important;
}

/* CSS do card branco utilizado para as informações gerais em todas as páginas */
.card{
    padding: 30px !important;
    border: none !important;
    box-shadow: 0 0 40px rgba(0,0,0,.08) !important;
}

/* Botões com cor padrão da Máxima */
.btn-primary{
    text-transform: uppercase !important;
    color: #fff;
    background-color: #00417A !important;
    border-color: #002f59 !important;
}

.btn-primary:hover{
    background-color: #003563 !important;
    border-color: #002e56 !important;
	box-shadow: 0 0 0 0.2rem rgba(0, 65, 122, 0.25)
}

.btn-success{
    text-transform: uppercase !important;
    color: #fff;
    background-color: #6EA632 !important;
    border-color: #64932d !important;
}

.btn-success:hover{
    background-color: #64932d !important;
    border-color: #557c25 !important;
	box-shadow: 0 0 0 0.2rem rgba(100, 147, 45, 0.25)
}

.btn-warning{
    color: #fff !important;
}

/* Edição de cores e estilo dos formulários */
.form-control:focus{
    box-shadow: 0 0 0 0.2rem rgba(0, 65, 122, 0.25)
}

.bg-light{
	background-color: #fff !important;
	box-shadow: 0 0 40px rgba(0,0,0,.08) !important;
}

/* CSS da barra de menu superior */
ul.navbar-nav li{
	margin-right: 10px !important;
	display: inline-block !important;
	height: 55px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-top: 5px !important;
	border: solid 1px #ffffff !important;
}

ul.navbar-nav li:hover{
	border: solid 1px #e5e5e5 !important;
	border-radius: 5px !important;
}

ul.navbar-nav li a{
	color: #515151 !important;
    transition: 0.2s;
	font-weight: 700 !important;
}

ul.navbar-nav li a:hover{
	color: #333333 !important;
}

.img-logotipo{
	margin-right: 20px !important;
}

 ul.navbar-nav li a.dropdown-item:active{
	color: #fff !important;
    background-color: #00417A !important;
}

/* Outros */
/* Tamanho do campo de pesquisa por código na listagem de melhorias */
#pesquisa-id{
	width: 100px !important;
}
/* Tamanho dos ícones no menu de logout, canto superior direito*/
.oi-sm{
	font-size: 13px !important;
}